/* accent color #5366f4 */

*,*::after, *::before{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    color: #0e0e0e;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    background-color: #f8faff;
}

.header >* {
    position: relative;
    z-index: 999;
}
.header .header-offer-mobile, .header-offer{
    z-index: 30;
}
*::-moz-selection {
    background-color: rgb(216, 157, 216);
    color: #fff;
}
*::selection {
    background-color: rgb(216, 157, 216);
    color: #fff;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2{
    font-size: 50px;
    font-weight: 800;
    color: #333333;
}
.main h1{
    font-family: "Code-Pro-Black";
    font-style: italic;
    color: #f0f0f0;
    font-size: 68px;
}

p{
    font-weight: 300;
}
.top-nav{
    padding-top: 10vh;
}
.top-nav a{
    text-decoration: none;
    color: inherit;
}
.menu{
    font-size: 22px;
}
.menu a {
    transition: .25s ease all;
    color: #bababa;
}
.menu a:hover {
    color: #ad3cb5;
}
.menu li {
    margin-right: 37px;
}
.menu li:last-child{
    margin-right: 0;
}
.top-nav .info{
    font-size: 22px;
    margin-right: 60px;
}
.top-nav .container{
    position: relative;
}

.top-nav__action{
    /* filter: drop-shadow(0px 0px 20px #dd59be); */
    transition: .5s ease all;
    opacity: .8;
    position: relative;
    z-index: 99;
}

.top-nav__action:hover{
    /* filter: drop-shadow(0px 0px 20px #dd59bec2); */
    opacity: 1;
}


.header {
    height: 112vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.main {
    color: #ececec;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff;
}

.container, .container-small, .container-full{
    width: 90%;
    margin: 0 auto;
}
.container{
    max-width: 1170px;
}
.container-small{
    max-width: 768px;
}

.container-full{
    max-width: 1400px;
}

.flex{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.fxww{
    flex-wrap: wrap;
}
.fxdc{
    flex-direction: column;
}
.tac{
    text-align: center;
}
.menu-mobile{
    display: none;
    opacity: 0;
}
.top-nav__hamburger{
    display: none;
}
h2{
    text-align: center;
}
section{
    padding: 60px 0;
}

.main p {
    font-size: 22px;
    margin-top: 18px;
}
.main h1 {
    margin-bottom: 18px;
    margin-top: 10vh;
}

.main .main-button{
    margin-right: 8px;
}
.main-button {
    /* background-color: #C839BA; */
    /* background-color: #dd59be; */
    background: linear-gradient(90deg, rgba(212,81,213,1) 40%, rgba(104,71,211,1) 100%);
    font-size: 22px;
    font-weight: 600;
    padding: 20px 66px;
    padding-bottom: 26px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    /* margin-right: 20px; */
    /* box-shadow: 6px 0px 80px#C839BA; */
    transition: .25s ease all;
    position: relative;
    overflow: hidden;
} 
.main-button::after{
    content: '';
    position: absolute;
    width: 440px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.452);
    top: -90px;
    left: -90px;
    transform: rotate(-25deg);
    transition: 0.25s ease all;
}
.main-button:hover::after{
    top: 139px;
    left: 15px;
}

.main-button.empty-button::after{
    display: none;
}
.main-button:hover {
    /* box-shadow: 6px 0px 80px #c839bab9; */
    box-shadow: 6px 0px 80px rgba(213, 81, 213, 0.37);
}
.main-button.empty-button{
    background: transparent;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    padding: 19px 78px;
    color: #d7d7d7;
    padding-bottom: 24px;
    position: relative;
    z-index: 99;
}
.main-button.empty-button:hover {
    /* border-color: #C839BA; */
    /* color: #C839BA; */
    color: #dd59be;
    border-color: #dd59be;
}
.header  {
    position: relative;
}
.header-bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    cursor: pointer;
    transition: .25s ease all;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: levitation 2.4s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes levitation {
    0%{ 
        bottom: 0px;
        opacity: 0.6;
    }
    50%{
        bottom: 20px;
        opacity: 1;
    }
    100%{
        bottom: 0px;
        opacity: 0.6;
    }
}
.main-arrow:hover {
    opacity: 0.6;
}
.top-nav.active {
    background-color: #fff;
}
.header{
    background-image: url('../img/main/main-bg.jpg');
}
.about-text {
    padding-top: 90px;

    color: #494949;
    line-height: 38px;
}
.about-text p {
    font-weight: 400;
}
.about {
    background-image: url('../img/about/yanna.png');
    background-position-y: bottom;
    background-repeat: no-repeat;
    /* #1C0032 */
    background-position-x: center;
    background-size: contain;
    padding-bottom: 0px;
}
.services{
    /* background-color: #E836BF; */
    background-color: #dd59be;
    padding-top: 40px;
}
.services h2 {
    color: #f6f6f6;
    margin-bottom: 80px;
}

.services-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eff0f8;
    border-radius: 10px;
    padding: 20px 0;
    transition: .25s ease all;
    cursor: pointer;
    margin: 60px 0;
}
.services-item:hover {
    transform: translateY(-6px);
}
.services-item__left{
    display: flex;
    align-items: center;
}
.services-content{
    max-width: 520px;
    margin-right: 20px;
}
.services-content h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #545454;
    font-weight: 600;
}
.services-content p{
    margin-top: 5px;
    font-size: 22px;
    color: #545454;
}
.services-number{
    min-width: 58px;
    height: 58px;
    background-color: #2786df;
    /* background-color: rgb(100, 80, 255); */
    margin: 0 67px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 800;
}
.services-number span {
    line-height: 24px;
}
.services-item__action, .services-item__action:hover{
    box-shadow: none;
}

.services-item__action{
    margin-right: 60px;
}
.popup-close{
    transition: .25s ease all;
}
.popup-close:hover{
    opacity: 0.6;
}

.popup-text {
    max-height: 530px;
    overflow-y: scroll;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
}
/* .popup-text::-webkit-scrollbar-thumb{
    background-color: #E836BF;
} */
.popup {
    visibility: hidden;
    opacity: 0;
    padding: 0 36px;
    padding-top: 83px;
    padding-bottom: 46px;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -250%);
    transform: translate(-50%, -250%);
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}
.popup-info .popup-picture {
    display: none;
}
.popup.is-active {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}
.popup-wrap.info-active .popup-offer {
    -webkit-transform: translate(150%, -50%);
    transform: translate(150%, -50%);
    visibility: hidden;
}
.popup-wrap.info-active .popup-info {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: visible;
}
.popup-price {
    font-size: 12px;
}
.popup .main-cta {
    font-size: 12px;
}
.popup-info {
    -webkit-transform: translate(-250%, -50%);
    transform: translate(-250%, -50%);
    visibility: hidden;
    padding-top: 61px;
    padding-bottom: 20px;
    max-width: 340px;
}
.popup-info .main-cta {
    margin-bottom: 4px;
}
.popup.popup-info .popup-top {
    margin-bottom: 10px;
}
.popup-close {
    max-width: 17px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 32px;
    cursor: pointer;
}
.popup-picture {
    width: 100%;
    height: 167px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
}
.popup-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.popup .h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;

}
.popup-text h4{
    margin-bottom: 10px;
}
.popup-text p{
    margin-top: 10px;
}
.popup p {
    color: #7c828d;
    font-size: 12px;
    line-height: 1.5;
}
.popup-price {
    border-radius: 6px;
    padding: 2px 7px;
}
.popup .main-button, .popup .main-button:hover{
    box-shadow: none;
    padding: 22px 76px;
    padding-bottom: 26px;
}


.popup-close {
    max-width: 50px;
    width: 50px;
    margin-top: 40px;
    margin-right: 38px;
}
.popup-close img{
    width: 26px;
}
.popup-info {
    display: flex;
    max-width: 1000px;
    padding-top: 95px;
    padding-bottom: 27px;
}
.popup-info .h3 {
    font-size: 24px;
}
.popup-info p {
    font-size: 18px;
    color: #282828;
}
.popup-info .main-cta {
    font-size: 16px;
    margin-top: 10px;
}
.popup-info .popup-price {
    font-size: 16px;
}
.popup-info .popup-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    min-width: 400px;
    margin-left: 83px;
}
.popup-info .popup-top {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.popup-info .popup-price {
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #8e4bd4;
    color: #ebd9ff;
}
.popup-text h4{
    color: rgb(34, 34, 34);
}
.header-bottom{
    display: none;
}
.popup-info p{
    color: #626262;
}
.popup-info .popup-picture {
    display: block;
    height: 220px;
    margin-bottom: 24px;
}
.need .main-button{
    box-shadow: none;
    margin-top: 54px;
    display: inline-block;
}

.overflow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #000;
    z-index: 99;
    opacity: 0;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
    visibility: hidden;
}
.overflow.is-active {
    opacity: 0.66;
    visibility: visible;
}
.services .line {
    font-size: 0;
    position: relative;
    width: 1px;
    height: 207px;
}
.services-item{
    padding: 0;
}
.services-item > *{
    padding: 20px 0;
}
.services .line::before{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068);
}
.services-content p{
    padding-right: 8px;
}
.services .main-button.empty-button:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transform: translateY(-5px);
    opacity: 0.7;
}
.services .main-button.empty-button{
    color: #fff;
    border-color: #fff;
}

.need {

}
.need-item{
    flex: 1 400px;
    /* box-shadow: 0 0 20px #ad3cb528; */
    box-shadow: 0 0 20px #dd59be2c;
    border-radius: 10px;
    margin: 22px;
    padding: 50px;
}
.need-title{
    font-size: 28px;
    color: #383838;
    font-weight: 600;
}
.need-text{
    font-size: 22px;
    line-height: 34px;
}
.testimonials-item{
    /* max-width: 600px; */
    background-color: #222222;
    border-radius: 10px;
    padding: 40px;
    color: #f0f0f0;
    margin: 0 30px;
}
.testimonials-name{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.testimonials-content{
    font-size: 20px;
    line-height: 30px;
}
.testimonials-avatar{
    width: 78px;
    height: 78px;
    border-radius: 100px;
    overflow: hidden;
}
.testimonials{
    background-color: #fbf6ff;
}
.slick-dots{
    transform: translateY(20px);
}
.slick-dots li button:before{
    font-size: 16px;
}
.services-action{
    margin-right: 0;
}
.services-action .main-button{
    margin-right: 0;
}

.testimonials-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-name h3{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 26px;
    font-weight: 600;
}
.testimonials-name a{
    font-size: 18px;
    text-decoration: none;
    color: #d3d3d3;
    transition: 0.25s ease all;
}
.testimonials-name a:hover {
    opacity: .6;
}
.testimonials-container{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.slick-arrow{
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;

}
.slick-arrow:hover{
    opacity: 0.6;
}
.testimonials-prev{
    
    left: -90px;
}
.testimonials-next{
    
    right: -90px;
    transform: translateY(-50%) scaleX(-1);
}
.testimonials .main-button, .testimonials-container .main-button:hover{
    box-shadow: none;
}
.testimonials-action{
    text-align: center;
}
.testimonials .main-button{
    font-size: 16px;
    padding: 14px 28px;
    padding-bottom: 20px;
}

.contacts-info{
    color: #333333;
}
.contacts-info h3 {
    font-size: 34px;
    font-weight: 600;
}
.contacts-info p {
    font-size: 24px;
    margin: 10px 0;
}
.contacts-info .contacts-link {
    text-decoration: none;
    color: #d6d6d6;
    font-size: 34px;
    font-weight: 300;
    align-items: center;
    margin: 20px 0;
    transition: 0.25s ease all;
}
.contacts-info a:hover{
    opacity: 0.6;
}
.contacts-info a span {
    display: flex;
    align-items: center;
    margin-right: 26px;
    transform: translateY(3px);
}
.contacts .h2{
    margin-bottom: 40px;
}
.jce{
    justify-content: end;
}
.footer span {
    font-size: 18px;
    opacity: 0.6;
}
.footer{
    padding-top: 40px;
    padding-bottom: 150px;
}
.whyexactly{
    padding-bottom: 0;
}
.whyexactly .h2{
    color: #ad3cb5;
}
.whyexactly p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding: 30px 0;
    margin: 0;
}
.whyexactly .emodzi img{
    width: 22px;
    transform: translateY(5px);
}
span.footer-empty{
    opacity: 0;
}
.popup-additional span {
    display: none;
}
.logo{
    color: #d7d7d7;
    font-size: 18px;
    font-family: "Code-Pro-Black";
    font-style: italic;
}
.top-nav__action img {
    width: 56px;
}
.main p {
    font-size: 22px;
    font-weight: 400;
    color: #d7d7d7;
    line-height: 1.4;
}
.header-offer img{
    width: 950px;
}
.header-offer{
    
    position: absolute;
    bottom: -16vh;
    right: 0;
}
.header-offer-mobile{
    display: none;
}
.header{
    position: relative;
    overflow: hidden;
}
.logo{
    cursor: pointer;
    transition: .25s ease all;
}
.logo:hover{
    opacity: 0.7;
}
.popup .main-button, .popup .main-button{
    padding: 16px 48px;
    padding-bottom: 20px;
    font-size: 18px;
}
.popup .main-button, .popup .main-button:hover{
    padding: 16px 48px;
    padding-bottom: 20px;
    font-size: 18px;
}
.need-text{
    color: rgb(114, 114, 114);
}
.need-text span{
    color: #dd59be;
    font-weight: 800;
}
.contacts h3{
    color: #d563dd;
    font-weight: 800;
}
.contacts p{
    color: rgb(92, 92, 92);
}
.contacts{
    background: url('../img/main/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
}
.contacts-info .main-button:hover{
    opacity: 1;
}
.contacts p {
    color: rgb(190, 190, 190);
}
.contacts h2 {
    color: rgb(226 226 226);
}
.footer{
    border: none;
}

.contacts h3{
    color: #fff;
}
.contacts-info {
    max-width: 550px;
}
.footer{
    background-color: #121212;
}
.footer span {
    color: rgb(112, 112, 112);
}